/node_modules
/public/hot
/public/storage
/public/img/*.*
/public/xml/compliance/inspecao/*.xml
/public/images/*.*
/migrations_TEMP/*.*
/storage/*.key
/vendor

.env
.env.backup
.env.example
.phpunit.result.cache
.gitignore
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Comandos.MD
.idea/workspace.xml
/.vscode

